body {
   /* background-color: rgb(219, 179, 230);*/
    background-image: url("img/fundomadeira.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Mantém a imagem fixa durante a rolagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
}

header{
    background-color:rgb(0, 6, 12);
    color: rgb(219, 235, 235);
    text-align: center;
    }
.videos {
    padding-bottom: 35px;
    padding-top: 35px;
    gap: 10px;
    opacity: 0.5;
    color: azure;
}

.videos:hover{
    opacity: 1.0;
}
.fotos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    color: azure;
}

.fotos img {
    opacity: 0.5;
    transition: transform 0.3s ease;
    padding: 2px;
    width: 300px;
    height: 200px;
}

.fotos img:hover {
    opacity: 1.0;
    transform: scale(1.05);
}

.logo img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}
    
.logo img:hover {
    transform: scale(1.5);
}

.logo{
    color: rgb(216, 194, 194);
    text-align: center;
}